/* [project]/src/app/styles.css [app-client] (css) */
.heroImage {
  width: 100vw;
  height: 400px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position: relative;
}

.image {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

.mainWrapper {
  background: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  padding: 2rem 0;
  position: relative;
}

.mainWrapper:before {
  content: "";
  background: inherit;
  border-radius: 2rem 2rem 0 0;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.contentWrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.menu {
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.sectionTitle {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
}

.sectionTitle:after {
  content: "";
  background: #99e2d0;
  width: 40px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.orderButton {
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1rem 3rem;
  font-weight: 500;
  transition: transform .2s, box-shadow .2s;
  display: block;
}

.orderButton:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.header {
  background: #fff;
  align-items: center;
  padding: 1rem;
  display: flex;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.logoContainer {
  text-align: center;
  flex: 1;
}

.logo {
  font-family: var(--font-shrikhand);
  color: #000;
  font-size: 2rem;
  text-decoration: none;
}

.backButton {
  color: #353535;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 1rem;
}

.restaurantHeader {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.restaurantName {
  font-family: var(--font-shrikhand);
  text-align: center;
  margin: 0;
  font-size: 1.75rem;
}

.favoriteButton {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
}

.heartIcon {
  color: #353535;
  width: 24px;
  height: 24px;
  transition: color .2s, fill .2s;
}

.liked .heartIcon {
  color: rgba(0, 0, 0, 0);
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuItem {
  cursor: pointer;
  opacity: 0;
  background: #fff;
  border-radius: 15px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding: 1rem;
  animation: .8s forwards appearFromBottom;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.menuItem[data-index="0"] {
  animation-delay: 0s;
}

.menuItem[data-index="1"] {
  animation-delay: .1s;
}

.menuItem[data-index="2"] {
  animation-delay: .2s;
}

.menuItem[data-index="3"] {
  animation-delay: .3s;
}

.menuItem[data-index="4"] {
  animation-delay: .4s;
}

.menuItem[data-index="5"] {
  animation-delay: .5s;
}

.menuItem[data-index="6"] {
  animation-delay: .6s;
}

.menuItem[data-index="7"] {
  animation-delay: .7s;
}

.menuItem[data-index="8"] {
  animation-delay: .8s;
}

.menuItem[data-index="9"] {
  animation-delay: .9s;
}

.menuItemContent {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  margin-right: 1rem;
  overflow: hidden;
}

.menuItemContent h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 .25rem;
  font-size: 1.125rem;
  overflow: hidden;
}

.menuItemContent p {
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: .875rem;
  overflow: hidden;
}

.price {
  margin-left: .5rem;
  font-weight: 600;
  transition: margin-right .3s ease-in-out;
}

.menuItem:hover .price {
  margin-right: 59px;
}

.checkIcon {
  background-color: #99e2d0;
  justify-content: center;
  align-items: center;
  width: 59px;
  transition: right .3s ease-in-out;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -59px;
}

.checkIcon svg {
  color: #fff;
  width: 20px;
  height: 20px;
  transition: transform .3s ease-in-out;
  transform: rotate(0);
}

.menuItem:hover .checkIcon {
  right: 0;
}

.menuItem:hover .checkIcon svg {
  transform: rotate(360deg);
}

.steps {
  padding: 2rem 1rem;
}

.steps h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.stepsContainer {
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
}

.step {
  background: #f6f6f6;
  border-radius: 20px;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.number {
  color: #fff;
  background: #9356dc;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: .875rem;
  display: flex;
  position: absolute;
  left: -12px;
}

.icon {
  color: #7e7e7e;
  text-align: center;
  width: 20px;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.text {
  margin: 0;
  font-weight: 500;
}

@media (min-width: 768px) {
  .contentWrapper {
    padding: 0 2rem;
  }

  .stepsContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .step {
    flex: 1;
    margin: 0 1rem;
  }
}

/*# sourceMappingURL=src_app_styles_css_bad6b30c._.single.css.map*/